.deleteMeButton {
    display: flex;
    background-color: rgb(28, 127, 255);
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 50px;
}